.container1 {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 5vw;
}

.img_left {
    width: 55%;
}

.img_left img {
    width: 100%;
    height: 40vw;
    border-radius: 10px;
}

.descrip_right {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1vw
}

.descrip_image img {
    width: 100%;
    border-radius: 10px;
}

.title {
    font-size: 2.5vw;
    font-family: Georgia, serif;
    margin-bottom: 1.2vw;
}

.green_text {
    font-size: 1.5vw;
    font-family: Tahoma, Geneva, sans-serif;
    color: #749f40;
    margin-bottom: 1.2vw;
}

.text {
    margin-bottom: 1.2vw;
    font-size: 0.9vw;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 1.5;

}


.container2 {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    margin-top: 1vw;
}

.img img {
    width: 100%;
    border-radius: 5px;
}


.container3 {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-top: 4vw;
}

.left_side_img {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    margin-top: 3vw;
}

.left_side_img img {
    width: 100%;
    border-radius: 5px;
}

.container3_right_side img {
    width: 100%;
    border-radius: 5px;
}

.container3_right_side {
    width: 50%;
}

.container3_left_side {
    width: 50%;
}

.container4 {
    display: flex;
    flex-direction: row;
    gap: 0.3vw;
    margin-top: 1vw;
}

.img_first {
    width: 50%;
    border-radius: 5px;

}

.img_first img {
    width: 100%;
    border-radius: 5px;
}

.img_second_block {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 0.5vw
}

@media screen and (min-width: 1280px) {
    .container1 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 65px;
    }

    .img_left {
        width: 55%;
    }

    .img_left img {
        width: 100%;
        border-radius: 5px;
        height: 530px;
    }

    .descrip_right {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .descrip_image img {
        width: 100%;
        border-radius: 5px;
    }

    .title {
        font-size: 35px;
        font-family: Georgia, serif;
        margin-bottom: 20px;
    }

    .green_text {
        font-size: 22px;
        font-family: Tahoma, Geneva, sans-serif;
        color: #749f40;
        margin-bottom: 20px;
    }

    .text {
        margin-bottom: 20px;
        font-size: 12px;
        font-family: Tahoma, Geneva, sans-serif;
        line-height: 1.5;

    }


    .container2 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 20px;
    }

    .img img {
        width: 100%;
        border-radius: 5px;
    }


    .container3 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 75px;
    }

    .left_side_img {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 45px;
    }

    .left_side_img img {
        width: 100%;
        border-radius: 5px;
    }

    .container3_right_side img {
        width: 100%;
        border-radius: 5px;
    }

    .container3_right_side {
        width: 50%;
    }

    .container3_left_side {
        width: 50%;
    }

    .container4 {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 10px;
    }

    .img_first {
        width: 50%;
        border-radius: 5px;

    }

    .img_first img {
        width: 100%;
        border-radius: 5px;
    }

    .img_second_block {
        width: 50%;
        display: flex;
        flex-direction: row;
        gap: 10px
    }
}

@media screen and (max-width: 550px) {
    .container1 {
        flex-direction: column;
    }

    .descrip_right {
        order: -1;
        width: 100%;
    }

    .title {
        font-size: 7vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .green_text {
        font-size: 3vw;
        margin-bottom: 3vw;
    }

    .text {
        font-size: 2.5vw;
        margin-bottom: 3vw;
    }

    .img_left {
        width: 100%;

    }

    .img_left img {
        height: 50vw;
    }

    .container3 {
        flex-direction: column;
    }

    .container3_right_side {
        width: 100%;
    }
}