.div_menu {
    width: 100%;
    display: flex;
    padding: 3vw 1vw 2vw 1vw;
    align-items: center;
    border-bottom: solid 1px #f1f1f1;
    margin-bottom: 3vw;
    justify-content: space-between;
}

.div_menu h2 {
    font-weight: inherit;
    font-size: 3.5vw;
}

.div_menu div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    align-items: center;
    display: flex;
    list-style: none;
    margin-left: auto;
    gap:2vw
}

.menu input {

    /*background: url("../icon_module/search.svg") 10px 59% no-repeat;*/
    color: #232323;
    width: 15vw;
    border: 1px solid #edecec;
    height: 3vw;
    /*padding-left: 3vw;*/
 padding-bottom: 0.2vw;
    border-radius: 0.5vw;
}

.menu input::placeholder {
    font-size: 1.2vw;
    padding-top: 2vw;
}

.li_all {
    color: #fff;
    padding: 0.9vw 1.2vw;
    background: #232323;
    border-radius: 0.9vw;
    font-size: 1.5vw;

}

.li {
    margin-bottom: 0vw;
    font-size: 1.5vw;
    font-family: 'Golos Text Medium', Arial, Helvetica, sans-serif;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.li_all:last-child{
    margin-right: 0;
}
.li:last-child{
    margin-right: 0;
}

.menu_img {
    display: none;
}

@media screen and (min-width: 1280px) {
    .div_menu {
        width: 100%;
        display: flex;
        padding: 45px 20px 30px 20px;
        align-items: center;
        border-bottom: solid 1px #f1f1f1;
        /*margin-bottom: 40px;*/
        justify-content: space-between;
    }

    .div_menu h2 {
        font-weight: inherit;
        font-size: 50px;
    }

    .div_menu div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .menu input {
        /*background: url("../icon_module/search.svg") 10px 59% no-repeat;*/
        /*background: url() 10px 59% no-repeat;*/
        color: #232323;
        width: 248px;
        border: 1px solid #edecec;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        border-radius: 6px;
    }

    .menu input::placeholder {
        font-size: 18px;

    }
    .menu{
        gap:30px
    }

    .li_all {
        padding: 10px 20px;
        background: #232323;
        border-radius: 8px;
        font-size: 20px;
    }

    .li {

        font-size: 22px;
        font-family: 'Golos Text Medium', Arial, Helvetica, sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .menu_img {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .div_menu {
        flex-direction: column;
        align-items: flex-start;

    }

    .menu input {
        display: none;
    }

    .menu {
        margin-top: 2vw;
        gap:3vw
    }

    .div_menu h2 {
        font-size: 5vw;
        margin-bottom: 1vw;
    }

    .li_all {
        font-size: 2.8vw;
        text-align: center;
        padding-top: 1.5vw;
    }

    .li_all p {
        font-size: 3vw;
        text-align: center;
        padding-top: 0.5vw;
    }

    .li {
        font-size: 2.8vw;

    }

    .li_all:last-child{
        margin-right: 0;
    }
    .li:last-child{
        margin-right: 0;
    }





    .setting li a {
        font-size: 3vw;
    }

    .menu_img {
        display: block;
        height: 5vw;
        width: 5vw;
        cursor: pointer;

    }

    .menu_line {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .none {
        display: block;
    }
}